{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'orc:post_bulk_delete' %}">
  {% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th>曲名</th>
        <th>勝敗</th>
        <th>日付</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for post in post_list %}
      <tr>
        <td><a href="{% url 'orc:post_detail' post.pk %}">{{ post.title }}</a></td>
        <td>{{ post.winlose }}</td>
        <td>{{ post.date }}</td>
        <td><input type="checkbox" name="selected_ids" value="{{ post.pk }}"></td>
        <td>
          <a href="{% url 'orc:post_delete' post.pk %}">削除</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit">一括削除</button>
</form>
{% endblock %}