asgiref==3.2.10
astroid==2.15.5
certifi==2023.7.22
dill==0.3.6
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1
django-environ==0.10.0
django-multiselectfield==0.1.12
djangorestframework==3.14.0
gunicorn==21.2.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
numpy==1.25.0
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
platformdirs==3.8.0
psycopg2==2.9.7
psycopg2-binary==2.9.6
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pyocr==0.8.3
python-decouple==3.8
pytz==2023.3
sentry-sdk==1.29.2
sqlparse==0.4.4
static3==0.7.0
tomlkit==0.11.8
urllib3==2.0.4
whitenoise==6.5.0
wrapt==1.15.0
