{% extends 'base.html' %}

{% block content %}
{% load static %}
<table>
    <tr>
      <th>曲名</th>
      <td>{{ post.title }}</td>
    </tr>
    <tr>
      <th>勝敗</th>
      <td>{{ post.winlose}}</td>
    </tr>
    <tr>
      <th>perfect</th>
      <td>{{ post.perfect }}</td>
    </tr>
    <tr>
      <th>great</th>
      <td>{{ post.great }}</td>
    </tr>
    <tr>
      <th>good</th>
      <td>{{ post.good }}</td>
    </tr>
    <tr>
      <th>bad</th>
      <td>{{ post.bad }}</td>
    </tr>
    <tr>
      <th>miss</th>
      <td>{{ post.miss }}</td>
    </tr>
    <tr>
      <th>日付</th>
      <td>{{ post.date|date:"Y-m-d" }}</td>
    </tr>
    <tr>
      <th></th>
      <td><img src="{{ post.image.url }}" style="width:100%"></td>
    </tr>
</table>
{% endblock %}