{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-10">
    <form id="uploadForm" action="" method="POST" enctype="multipart/form-data">
      <table class="table">
        <tr>
          <th>画像</th>
          <td>
            {{ form.images }}<br>
            一度に5枚まで投稿できます。<br>
            現状iPad11インチサイズのみ対応。難易度は判定していません。別サイズ・別難易度画像募集しています。
          </td>
        </tr>
        <tr>
          <th>日付</th>
          <td>{{ form.date }}</td>
        </tr>
      </table>
      <button id="submitButton" type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        投稿
      </button>
      {% csrf_token %}
    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const maxImages = 5; // 最大ファイル数

  const imageInput = document.getElementById('imageInput');

  imageInput.addEventListener('change', function() {
    const selectedFiles = imageInput.files;
    if (selectedFiles.length > maxImages) {
      alert(`最大で${maxImages}個のファイルをアップロードできます。`);
      // 選択したファイルをクリアする（オプション）
      imageInput.value = '';
    }
  });
  }); 

  document.getElementById('uploadForm').addEventListener('submit', function (event) {
    var submitButton = document.getElementById('submitButton');
    var spinner = submitButton.querySelector('.spinner-border');
    
    // ボタンを無効化し、スピナーを表示
    submitButton.setAttribute('disabled', 'disabled');
    spinner.style.display = 'inline-block';

    const selectedFiles = imageInput.files;
    if (selectedFiles.length > maxImages) {
      event.preventDefault(); // フォームの送信を防止
    }
  });
</script>

{% endblock %}